html, body
{
   font-faimily: 'Roboto', sans-serif; 
   font-size:15px !important;
   overflow-x:scroll;
}
h1,h2,h3,h4,h5,h6 { font-family: 'Ubuntu', sans-serif; font-weight:bold;}


h1.page-header small
{
   color:#FFF !important;
}
.footer
{
   position: fixed;
   bottom:0;
   left:15px;
   right:15px;
}

.sceneTxt
{
   height:300px;
   overflow:scroll;
}

header[role='banner']
{
   position:fixed;
   top:0;
   left:0;
   right:0;
   height:150px;
}

div#inv-pnl
{
   position:fixed;
   top:220px;
   right:15px;
   width:300px;
   height:200px;
}

div#adv-pnl
{
   position:fixed;
   top:440px;
   right:15px;
   width:300px;
   height:200px;
}

button#inv-btn
{
   position: fixed;
   width:100px;
   top: 165px;
   left:15px;
}

button#adv-btn
{
   position: fixed;
   width:100px;
   top: 215px;
   left:15px;
}

button#reset-btn
{
   position: fixed;
   top: 165px;
   right:15px;
   width:85px;
}

img.image
{
   margin:150px auto 0 auto;
   display:block;
   width:1320px;
   height:540px;
}

#item
{
   position:fixed;
   top:50%;
   margin-top:-75px;
   left:50%;
   margin-left:-150px;
   height:225px;
   width:300px;
}

#item > header
{
   height:50px;
}

#item > div
{
   height:139px;
}

#item > footer
{
   height:36px;
}

.text-100 { font-size:100%; }
.text-125 { font-size:125%; }
.text-150 { font-size:150%; }
.text-175 { font-size:175%; }
.text-200 { font-size:200%; }


#txtScaleUp, #txtScaleDown
{
   width:45px;
   height:45px;
   font-weight:bold;
   position:fixed;
   right:15px;
   font-size:135%;
}

#txtScaleUp { top: 215px; }
#txtScaleDown { top: 275px;}